
<br>
<h1 style="font-family: 'Audiowide', cursive; text-align: center;">
  <span class="utility1 rounded text-white"><span>Update Job Details</span></span>
</h1>
<hr>

<div class="form" *ngIf="!boolVar">

  <div class="form-group text-white">
    <label><b>Update Title : </b></label>
    <input type="text" class="form-control" [(ngModel)]="jobdetails.title" id="name" name="title">
  </div>


  <div class="float-end">
    <button class="btn btn-primary" type="button" (click)="updateJobDetails()">Update</button>
  </div>

</div>
<div *ngIf="boolVar" class="row justify-content-center">
  <div class="col-6">
    <div class="card ">
      <div class="text-center">
        <h2 class="text-success text-center ">The Page Updated Successfully</h2>
        <h4 class="text-success text-center">Thank You !</h4>
        <button class="btn btn-primary " type="button" (click)="list()">Back to List</button>
      </div>
    </div>
  </div>

</div>

<br>
<hr>

<p class="mt-5 text-center">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
    aria-controls="multiCollapseExample1">Manage Skillset</a>
</p>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="scrollbar">
          <div class="card card-body" *ngFor="let skillset of skillsets | async; let i=index">
              <label>
                <input type="checkbox" [value]="skillset.skillName" (change)="onCheckboxChange($event)" />
                {{skillset.skillName}}
              </label>
          </div>
        </div>

          <div class="text-center">
            <button class="btn btn-success m-3" type="submit" value="submit">Save</button>
          </div>
      </form>
    </div>
  </div>
</div>