<br>
<h1 style="font-family: 'Audiowide', cursive; text-align: center;">
<span class="utility1 rounded text-white"><span>Update Job Details</span></span>
</h1>
<hr>

<div class="form" *ngIf="!boolVar">
    <div class="form-group text-white">
        <label><b>Update Title : </b></label>
        <input type="text" class="form-control" [(ngModel)]="jobdetails.title" id="title" name="title">
    </div>
    
    <button class="btn btn-primary" type="button" (click)="updateJobDetails()">Update</button>
</div>


<div *ngIf="boolVar">
    <h2 class="bg-success text-white">Updated SuccessFully</h2>
    <button type="button" (click)="list()">Back to List</button>
</div>
