<br>
<h1 style="font-family: 'Audiowide', cursive; text-align: center;">
<span class="utility1 rounded text-white"><span>Details</span></span>
</h1>
<hr>
<hr />
<div *ngIf="jobDetails" style="text-align: center;">
    <div>
        <label><b>ID: </b></label> {{jobDetails.id}}
    </div>

    <div>
        <label><b>TITLE: </b></label> {{jobDetails.title}}
    </div>

    <div>
        <label><b>DESCRIPTION: </b></label> {{jobDetails.description}}
    </div>
    <div>
        <label><b>MIN EXPERIANCE: </b></label> {{jobDetails.minExp}}
    </div>
</div>

<br>
<br>
<div style="text-align: center;">
    <button (click)="list()" class="btn btn-primary">Back to JobDetails List</button><br>
</div>