<!-- <div class="container text-center">
  <img src="../assets/log-in.png" alt="login-logo" style="margin-top: 5vh; height: 100px;">
  <h4 class="text-center p-4 text-muted" >Sign-in to HIRING-EVENTS v2.0</h4>
</div>
<div class="container shadow-lg p-1" style="max-width: 35vw;">
  <div class="card" style="background-color: rgb(243, 246, 250); ">
    <div class="card-header text-center text-white"
      style="font-family:'Times New Roman', Times, serif; font-weight: 700;">
      USER LOGIN PORTAL
    </div>
     <div class="card-body mt-3">
        <form #f="ngForm">
          <div class="form-group m-1">
            <div class="input-group mb-4 " id="username">

              <span class="input-group-text" id="basic-addon1"><img src="../../assets/user.png" alt=""
                  style="height: 30px;"> </span>
              <input type="text" class="form-control" id="formGroupExampleInput" ngModel #b1
                placeholder="Enter username" name="username" [(ngModel)]="loginModel.username" required>
            </div>

          </div>
          <div class="form-group m-1">
            <div class="input-group mb-4 " id="password">
              <span class="input-group-text" id="basic-addon1"><img src="../../assets/key.png" alt=""
                  style="height: 30px;"> </span>
              <input type="password" class="form-control" id="formGroupExampleInput2" ngModel #b2 name="password"
                placeholder="Enter Password" [(ngModel)]="loginModel.password" required>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-sm mt-1 text-white" type="submit" type="button" (click)="login(loginModel.username)"
              [disabled]="!f.valid">Login</button>
          </div>
        </form>

        <p *ngIf="isFetching && !error">Loading...</p>
        <div class="alert alert-danger mt-2" *ngIf="error">
          <h3>An Error Occurred</h3>
          <p>{{error}}</p>
        </div>

    </div>
  </div>
</div> -->


<section class="vh-100" style=" background-color: rgb(19, 45, 85);">

  <div class="container  " style="padding-top: 6%;">
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col col-xl-10">
        <div class="card  " style="border-radius: 1rem; height: 40rem; width: 90%; margin: auto;">
          <div class="row">
            <div class="container col-7  d-md-block" style="position: relative; ">
              <img
                src="../assets/login_page.jpeg"
                alt="login form"
                class="img-fluid" style="border-radius: 1rem 0 0 1rem;height:638px;"/>
              <!-- <div class="tagTitle" style="position: absolute; top: 50%; left: 40%; color: white; background-color:aliceblue ">
                <h1>Login</h1> </div> -->
            </div>
            <div class="col-5  d-flex align-items-center">
              <div class="card-body  text-black">

                <form  #f="ngForm">
                  <div class="container text-center">
                    <img src="../assets/log-in.png" alt="login-logo" style=" height: 100px;">
                    <h4 class="text-center p-1 text-muted" >Sign-in to HIRING-EVENTS v2.0</h4>
                  </div>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h3 fw-bold mb-0"style="font-family:'Times New Roman', Times, serif; font-weight: 700;">USER LOGIN PORTAL</span>
                  </div>

                  <!-- <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5> -->

                    <div class="form-group m-1">
                      <div class="input-group mb-4 " id="username">

                        <span class="input-group-text" id="basic-addon1"><img src="../../assets/user.png" alt=""
                            style="height: 30px;"> </span>
                        <input type="text" class="form-control" id="formGroupExampleInput" ngModel #b1
                          placeholder="Enter username" name="username" [(ngModel)]="loginModel.username" required>
                      </div>

                    </div>
                    <div class="form-group m-1">
                      <div class="input-group mb-4 " id="password">
                        <span class="input-group-text" id="basic-addon1"><img src="../../assets/key.png" alt=""
                            style="height: 30px;"> </span>
                        <input type="password" class="form-control" id="formGroupExampleInput2" ngModel #b2 name="password"
                          placeholder="Enter Password" [(ngModel)]="loginModel.password" required>
                      </div>
                    </div>
                    <div class="text-center">
                      <button class="btn btn-sm mt-1 text-white" type="submit" type="button" (click)="login(loginModel.username)"
                        [disabled]="!f.valid">Login</button>
                    </div>
                </form>

                  <!-- <p *ngIf="isFetching && !error">Loading...</p>
                  <div class="alert alert-danger mt-2" *ngIf="error">
                    <h3>An Error Occurred</h3>
                    <p>{{error}}</p> -->

                  <a class="small text-muted" href="#!">Forgot password?</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
