<div class="row flex-nowrap  shadow-lg " style="height:100vh; background-color: rgb(231, 231, 231); width: 100vw;">
  <div class="card-body col-1 " style="margin-left: 10px; margin-top: 1rem;">

    <app-welcome></app-welcome>
  </div>
  <div class="card card-body col-8 " style=" margin-top: 2rem; margin-right: 2rem;">

 <!-- <div class="tab-content" id="nav-tabContent"> -->
  <div class="row">
    <div class="col">
        <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;">
            <span class="">List of JobDetails</span>
        </h2>
    </div>
    <div class="scrollbar">
        <table class="table text-center table-striped">
            <thead>
                <tr>
                    <th scope="col" class="col-1">TITLE</th>
                    <th scope="col" class="col-3">DESCRIPTION</th>
                    <th scope="col" class="col-3">MANAGER_EMAIL</th>
                    <th scope="col" class="col-1">MIN_EXPERIENCE</th>
                    <th  class="col-4">TAKE_ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jobdetail of jobdetails | async">
                    <td class="col-1">{{jobdetail.title}}</td>
                    <td class="col-3">{{jobdetail.description}}</td>
                    <td class="col-3">{{jobdetail.hiringManagerEmail}}</td>
                    <td class="col-1">{{jobdetail.minExp}}</td>
                    <td class="col-4">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success" (click)="viewJobDetails(jobdetail.id)">View</button>
                            </div>

                            <div class="col">
                                <button class="btn btn-primary" (click)="updateJobDetails(jobdetail.id)">Edit</button>

                            </div>

                            <div class="col">
                                <button class="btn btn-danger" (click)="deleteJobDetails(jobdetail.id)">Delete</button>
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 

</div>
</div>







