<div class="row">
    <div class="col">
        <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;"> 
        <span class="utility1 rounded text-white">List of SkillSet</span> 
     </h2>
    </div>
    <div class="scrollbar">
        <table class="table table-striped text-center text-white text-center">
            <thead>
                <tr>
                    <th scope="col">SKILL_NAME</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let skillset of skillsets | async">
                    <td>{{skillset.skillName}}</td>
                    <td>{{skillset.description}}</td>
                    <td>
                        <div class="row">
                            <div class="col-5">
                                <button class="btn btn-outline-danger"
                                (click)="deleteSkillSet(skillset.id)"
                                >Delete</button>
                            </div>
                            <div class="col-5">
                                <button class="btn btn-outline-danger"
                                (click)="updateSkillSet(skillset.id)"
                                >Edit</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
