<div class="row">
    <div class="col">
        <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;"> 
        <span class="utility1 rounded text-white">List of SkillSet</span> 
     </h2>
    </div>
    <div class="scrollbar">
        <table class="table text-center text-white text-center">
            <thead>
                <tr>
                    <th scope="col" class="col-2">SKILL_NAME</th>
                    <th scope="col" class="col-5">DESCRIPTION</th>
                    <th scope="col" class="col-3">ACTION</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let skillset of skillsets | async">
                    <td class="col-2">{{skillset.skillName}}</td>
                    <td class="col-5">{{skillset.description}}</td>
                    <td class="col-3">
                        <div class="row">
                            <div  class="col">
                                <button class="btn btn-success"
                                (click)="viewSkillSet(skillset.id)"
                                >View</button>
                            </div>
                            <div  class="col">
                                <button class="btn btn-primary"
                                (click)="updateSkillSet(skillset.id)"
                                >Edit</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger"
                                (click)="deleteSkillSet(skillset.id)"
                                >Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
