
<!-- Material form group -->
<!-- <div class="container-fluid" > -->
  <div class="row flex-nowrap vh-100" style="background-color: rgb(240, 240, 240); margin-bottom: 0px;">
    <div class="card-body col-1 " style="margin-left: 10px; margin-top: 1rem;">

      <app-welcome></app-welcome>
    </div>

      <div class="card card-body col-8 " style=" margin-top: 2rem; margin-right: 2rem;">

        <div *ngIf="!submitted">
          <br>
          <h1 style="font-family: 'Audiowide', cursive; text-align: center;">
              <span class="utility1 rounded"><span>{{titleskillset}}</span></span>
          </h1>

          <!-- SKILL_SET, DESCRIPTION, CREATED_BY,MODIFIED_BY," + -->
          <!-- "RESOURCE_ID -->
          <div class="container">
              <div class="scrollbar">
                  <form #f="ngForm">
                      <div class="row">
                          <div class="col">
                              <div class="form-group">
                                  <label for="firstName">SKILL_NAME : </label>
                                  <input type="text" class="form-control" id="SKILL_NAME" [(ngModel)]="skillset.skillName"
                                      name="SKILL_NAME" #box1 required>
                              </div>
                          </div>
                          <div class="col">
                              <div class="form-group">
                                  <label for="firstName">DESCRIPTION : </label>
                                  <input type="text" class="form-control" id="DESCRIPTION"
                                      [(ngModel)]="skillset.description" name="DESCRIPTION" #box1 required>
                              </div>
                          </div>
                      </div>
                      <div class="text-center">
                          <button class="btn btn-sm btn-primary mt-3" type="submit" type="button" (click)="save()"
                          [disabled]="!f.valid">Add Skill Set</button>
                      </div>

                  </form>
              </div>
          </div>
      <!-- </div> -->



      <div *ngIf="submitted" class="text-center">
          <h2>Form Submitted Successfully !</h2>
          <br>
          <button class="btn btn-primary" routerLink="view-skill-set">View_List</button>
          <br>
          <br>
          <button class="btn btn-primary" (click)="addAgain()">Add_again</button>
      </div>
    </div>
      </div>
  </div>
<!-- </div> -->
<!-- <div *ngIf="boolVar1"> -->

<!-- <app-view-skill-set *ngIf="boolVar2"></app-view-skill-set> -->

