<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">

      <button class="nav-link active text-dark fw-bold" id="nav-create-tab" data-bs-toggle="tab" data-bs-target="#nav-create" type="button" role="tab" 
      aria-controls="nav-create" aria-selected="true" (click)="enable()">Create Skillset</button>

      <button class="nav-link text-dark fw-bold" id="nav-view-tab" data-bs-toggle="tab" data-bs-target="#nav-view" type="button" role="tab" 
      aria-controls="nav-view" aria-selected="false" (click)="enable1()">View Skillset</button>
    </div>
</nav>
<br>
<hr>

<!-- Material form group -->
<div *ngIf="boolVar1">

    <div *ngIf="!submitted">
        <br>
        <h1 style="font-family: 'Audiowide', cursive; text-align: center;">
            <span class="utility1 rounded text-white"><span>{{titleskillset}}</span></span>
        </h1>
        <hr>
        <!-- SKILL_SET, DESCRIPTION, CREATED_BY,MODIFIED_BY," + -->
        <!-- "RESOURCE_ID -->
        <div class="container text-white">
            <div class="scrollbar">
                <form #f="ngForm">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="firstName">SKILL_NAME : </label>
                                <input type="text" class="form-control" id="SKILL_NAME" [(ngModel)]="skillset.skillName"
                                    name="SKILL_NAME" #box1 required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="firstName">DESCRIPTION : </label>
                                <input type="text" class="form-control" id="DESCRIPTION"
                                    [(ngModel)]="skillset.description" name="DESCRIPTION" #box1 required>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-primary float-right" type="submit" type="button" (click)="save()"
                        [disabled]="!f.valid">Add Skill Set</button>
                </form>
            </div>
        </div>
    </div>



    <div *ngIf="submitted" class="text-center">
        <h2>Form Submitted Successfully !</h2>
        <br>
        <button class="btn btn-primary" routerLink="view-skill-set">View_List</button>
        <br>
        <br>
        <button class="btn btn-primary" (click)="addAgain()">Add_again</button>
    </div>
</div>
<app-view-skill-set *ngIf="boolVar2"></app-view-skill-set>
