<div class="row">
    <div class="col">
        <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;"> 
        <span class="utility1 rounded">List of UserInfo</span> 
     </h2>
    </div>
    <div class="scrollbar">
        <table class="table text-center table-striped">
            <thead>
                <tr>
                    <th scope="col" class="col-2">Email Id</th>
                    <th scope="col" class="col-5">User Type</th>
                    <th scope="col" class="col-3">Login Provider</th>
                    <th scope="col" class="col-3">Is Mock</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let userInfo of userInfos | async">
                    <td class="col-2">{{userInfo.email}}</td>
                    <td class="col-5">{{userInfo.userType}}</td>
                    <td class="col-5">{{userInfo.loginProvider}}</td>
                    <td class="col-5">{{userInfo.isMockUser}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

