input.ng-invalid.ng-touched{
    border: 3px solid red;
    
  }
select.ng-invalid.ng-touched{
    border: 3px solid red;
    
  }
  .help-block{
      color: red;
  }
  h1>span{
    color:black;
    font-size: larger;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}