<div class="img">
  <nav class="navbar navbar-expand-sm bg-primary ">
    <!-- Links -->
      <ul class="nav nav-tabs">
          <li class="nav-item">
              <a routerLink="home" class="nav-link text-dark" routerLinkActive="active"
                style="font-family:Arial, Helvetica, sans-serif; font-weight: bolder;">Home</a>
          </li>
          <li class="nav-item">
              <a routerLink="job-details" class="nav-link text-dark" routerLinkActive="active"
                style="font-family:Arial, Helvetica, sans-serif; font-weight: bolder;">Job Details</a>
          </li>
          <li class="nav-item">
              <a routerLink="skill-set" class="nav-link text-dark" routerLinkActive="active"
                style="font-family:Arial, Helvetica, sans-serif; font-weight: bolder;">Skill Set</a>
          </li>
      </ul>
  </nav>
  
  <div class="container">
     
      <div class="card">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
  </div>
  
  <div class="footer">
    <h4>&copy;www.hiring-service.com </h4>
    <!-- <p>All Rights Reserved.</p> -->
  </div>
</div>
