.card{
    margin-top: 5px;
    margin-bottom: 20%
}

ul>li>a{
    font-size: large;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(157 166 217 / 86%);
    color: rgb(0, 0, 0);
    text-align: center;
}


.img{
    background-image: url('../assets/img/img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
    
}
/* .card{
    background-color: rgba(86, 114, 241, 0.4);
    box-shadow:inset 10px 10px 50px 24px rgba(2, 0, 8, 0.6) ; 
    transition: all 1s  ease-in-out;
} */
.card{

    box-shadow:inset 10px 10px 50px 24px rgba(84, 141, 226, 0.9) ; 
    background-color: rgba(30, 80, 138, 0.8);

}