
<nav class="navbar navbar-expand-sm" style="background-color: #71ac9fd0!important; ">
    <ul class="nav nav-tabs" style="border-bottom: 0px;">
        <li class="nav-item">
          <a routerLink="home" class="nav-link text-dark" routerLinkActive="active"
            style="font-family:'Times New Roman', Times, serif; font-weight: bolder;
              font-size: 27px;">Hiring Service</a>
        </li>
    </ul>
    <ul class="nav nav-tabs" style="border-bottom: 0px; margin: auto;">
        
        <li class="nav-item">
            <a routerLink="job-details" class="nav-link text-dark" routerLinkActive="active"
              style="font-family:Arial, Helvetica, sans-serif; font-weight: bolder;">Job Details</a>
        </li>
        <li class="nav-item">
            <a routerLink="skill-set" class="nav-link text-dark" routerLinkActive="active"
              style="font-family:Arial, Helvetica, sans-serif; font-weight: bolder;">Skill Set</a>
        </li>
        <li class="nav-item">
            <a routerLink="user-info" class="nav-link text-dark" routerLinkActive="active"
              style="font-family:Arial, Helvetica, sans-serif; font-weight: bolder;">User Info</a>
        </li>
        <li class="nav-item">
            <a routerLink="interview-details" class="nav-link text-dark" routerLinkActive="active"
              style="font-family:Arial, Helvetica, sans-serif; font-weight: bolder;">Interview Details</a>
        </li>
        <li class="nav-item">
            <a routerLink="interview-round" class="nav-link text-dark" routerLinkActive="active"
              style="font-family:Arial, Helvetica, sans-serif; font-weight: bolder;">Interview Rounds</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <h4>&copy;www.hiring-service.com </h4>
</div>
