.card{
    margin-top: 5px;
    margin-bottom: 20%
}

ul>li>a{
    font-size: large;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c5d9ec6b!important;
    color: rgb(0, 0, 0);
    text-align: center;
}


.nav-item:hover{
    background-color: rgba(115, 139, 165, 0.699);
    border-radius: 10px;
}

.active{
    background-color: rgb(127 215 160 / 76%) !important
}