<div class="row">
    <div class="col">
        <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;"> 
        <span class="utility1 rounded">List of Interview Details</span> 
     </h2>
    </div>
    <div class="scrollbar">
        <table class="table text-center table-striped">
            <thead>

                <tr>
                    <th scope="col" class="col-2">TITLE</th>
                    <th scope="col" class="col-2">JOB DETAILS ID</th>
                    <th scope="col" class="col-4">CANDIDATE EMAIL</th>
                    <th scope="col" class="col-2">STATUS</th>
                    <th scope="col" class="col-2">ACTION</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let interviewDetail of interviewDetails | async">
                    <td class="col-2">{{interviewDetail.title}}</td>
                    <td class="col-2">{{interviewDetail.jobDetailsId}}</td>
                    <td class="col-4">{{interviewDetail.candidateEmail}}</td>
                    <td class="col-2">{{interviewDetail.status}}</td>
                    <td class="col-2">
                        <div class="row">
                            <div  class="col">
                                <button class="btn btn-success"
                                (click)="viewInterviewDetails(interviewDetail.id)"
                                >View</button>
                            </div>
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
