<nav class="navbar navbar-expand-sm  text-center" >

  <ul class="nav nav-tabs">
    <div class="row ">
      <li>
        <div class="col">
          <button class="btn btn-success mx-4" (click)="enable()">View Job Details</button>
        </div>
      </li>

      <li>
        <div class="col">
          <button class="btn btn-success" (click)="enable1()">View Skillset</button>
        </div>
      </li>

    </div>
  </ul>
</nav>
<br>
<hr>
<app-view-job-details *ngIf="boolVar"></app-view-job-details>
<app-view-skill-set *ngIf="boolVar1"></app-view-skill-set>