<h2 style="font-family: Georgia, 'Times New Roman', Times, serif;   text-align: center;">Details</h2>

<hr>



<div *ngIf="skillset" style="text-align: center;" class="text-center">
    
    <div>
        <label ><b>Id:  </b></label> {{skillset.id}}
    </div>
    <div>
        <label ><b>Title:  </b></label> {{skillset.skillName}}
    </div>

    <div>
        <label ><b>Description:  </b></label> {{skillset.description}}
    </div>

    <div>
        <label ><b>Modified By:  </b></label> {{skillset.modifiedBy}}
    </div>

    <div>
        <label ><b>Resource ID:  </b></label> {{skillset.resourceId}}
    </div>

</div>

<br>
<br>
<div style="text-align: center;">
<button (click)="list()" class="btn btn-primary">Back to List</button>
</div>
<br>