
    <br>
<h1 style="text-align: center;">
  <span class="utility1 rounded"><span>{{title}}</span></span>
</h1>
<hr>

<div class="container" style="text-align: center;">
    <h2>
        Welcome to Hiring Event and Service !
    </h2>
    <h4>
        Available features 👇 !
    </h4>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <button class="btn btn-success"
            (click)="onLoadJobDetails()"
            >Jump to Job Details</button>
        </div>
        <div class="col">
            <button class="btn btn-success"
            (click)="onLoadSkillSet()"
            >Jump to Skill Set</button>
        </div>
    </div>
</div>
<!-- <app-job-details></app-job-details> -->


