<br>
<h1 style="font-family: 'Audiowide', cursive; text-align: center;">
<span class="utility1 rounded"><span>Update Skill Details</span></span>
</h1>
<hr>

<div class="form" *ngIf="!boolVar">
    <div class="form-group">
        <label><b>Update Skill Name : </b></label>
        <input type="text" class="form-control" [(ngModel)]="skillset.skillName" id="name" name="skillName">
    </div>
    
    <button class="btn btn-primary" type="button" (click)="check()" (click)="updateSkillSet()">Update</button>
</div>


<div *ngIf="boolVar">
    <h2 class="bg-success">Updated SuccessFully</h2>
    <button type="button" (click)="list()">Back to List</button>
</div>
