<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist" style="border-bottom: 0px;">

    <button class="nav-link active text-dark fw-bold" id="nav-create-tab" data-bs-toggle="tab" data-bs-target="#nav-create" type="button" role="tab" 
    aria-controls="nav-create" aria-selected="true" (click)="enable()">Create Job Details</button>

    <button class="nav-link text-dark fw-bold" id="nav-view-tab" data-bs-toggle="tab" data-bs-target="#nav-view" type="button" role="tab" 
    aria-controls="nav-view" aria-selected="false" (click)="enable1()">View Job Details</button>
  </div>
</nav>

<h2 style="font-family: Georgia, 'Times New Roman', Times, serif;   text-align: center;">Details</h2>

<hr>
<div *ngIf="jobdetail" style="text-align: center;" class="text-center">

    <table style=" width:70%; margin-left:15%; margin-right:15%;">
        <tr>
          <th>Id:</th>
          <td>{{jobdetail.id}}</td>
        </tr>
        <tr>
          <th>Title:</th>
          <td>{{jobdetail.title}}</td>
        </tr>
        <tr>
          <th>Description:</th>
          <td>{{jobdetail.description}}</td>
        </tr>
        <tr>
          <th>Team:</th>
          <td>{{jobdetail.team}}</td>
        </tr>
        <tr>
          <th>Team:</th>
          <td>{{jobdetail.team}}</td>
        </tr>
        <tr>
          <th>Hiring Manager Email:</th>
          <td>{{jobdetail.hiringManagerEmail}}</td>
        </tr>
        <tr>
          <th>Number Of Positions:</th>
          <td>{{jobdetail.numOfPositions}}</td>
        </tr>
        <tr>
          <th>Job Expiry Date:</th>
          <td>{{jobdetail.jobExpiryDate}}</td>
        </tr>
        <tr>
          <th>Minimum Experience:</th>
          <td>{{jobdetail.minExp}}</td>
        </tr>
        <tr>
          <th>Maximum Experience:</th>
          <td>{{jobdetail.maxExp}}</td>
        </tr>
      </table>
</div>

<br>
<br>
<div style="text-align: center;">
<button (click)="list()" class="btn btn-primary">Back to List</button>
</div>
<br>