<div class="row flex-nowrap  shadow-lg " style="height:100vh; background-color: rgb(231, 231, 231); width: 100vw;">
  <div class="card-body col-1 " style="margin-left: 10px; margin-top: 1rem;">

    <app-welcome></app-welcome>
  </div>
  <div class="card card-body col-8 " style=" margin-top: 2rem; margin-right: 2rem;">
    <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;   text-align: center;">Details</h2>

    <br>
    <div *ngIf="jobdetail" style="text-align: center;" class="text-center">

        <table style=" width:70%; margin-left:15%; margin-right:15%;">
            <tr>
              <th>Id:</th>
              <td>{{jobdetail.id}}</td>
            </tr>
            <tr>
              <th>Title:</th>
              <td>{{jobdetail.title}}</td>
            </tr>
            <tr>
              <th>Description:</th>
              <td>{{jobdetail.description}}</td>
            </tr>
            <tr>
              <th>Team:</th>
              <td>{{jobdetail.team}}</td>
            </tr>
            <tr>
              <th>Hiring Manager Email:</th>
              <td>{{jobdetail.hiringManagerEmail}}</td>
            </tr>
            <tr>
              <th>Number Of Positions:</th>
              <td>{{jobdetail.numOfPositions}}</td>
            </tr>
            <tr>
              <th>Job Expiry Date:</th>
              <td>{{jobdetail.jobExpiryDate}}</td>
            </tr>
            <tr>
              <th>Minimum Experience:</th>
              <td>{{jobdetail.minExp}}</td>
            </tr>
            <tr>
              <th>Maximum Experience:</th>
              <td>{{jobdetail.maxExp}}</td>
            </tr>
          </table>
    </div>

    <br>
    <br>
    <div style="text-align: center;">
    <button (click)="list()" class="btn btn-primary">Back to List</button>
    </div>
    <br>

</div>
</div>



